[MAIN]
disable=too-few-public-methods,too-many-arguments
good-names=main,_
max-line-length=120
indent-string='    '
init-import=no
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
